* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

body {
    background-color: #181818;
    ;
}

.sidebar {
    background-color: #202020;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 20px;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 60px 10px 10px;
}

.profile-photo {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.profile__title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 3px;
    font-weight: 400;
}

.profile__subtitlte {
    font-size: 16px;
    color: #DEDEDE;
    font-weight: 300;
}

.profile__info {
    margin-bottom: 18px;
}

.social {
    display: flex;
    align-items: center;
    gap: 15px
}

.profile__social {
    margin-bottom: 50px;
}

.profile__descriptions {
    color: #fff;
    font-size: 14px;
    max-width: 280px;
    margin-bottom: 50px;
    font-weight: 400;
}

.btn {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 25px;
    border: 0px;
    outline: none;
    font-size: 12px;
    font-weight: 500;
}

.btn-red {
    background-color: #ED3024;
    color: #fff;
    box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.20);
}

.btn-blue {
    background-color: #3137C9;
    color: #fff;
}

.profile-menu {
    display: flex;
    gap: 20px;
}

.nav-list {
    display: flex;
    /* gap: 20px; */
}

.nav-link {
    padding: 14px 15px;
    transition: all 0.2s;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.nav-link:hover {
    background-color: #3137C9;
    ;
}

.header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background: #0D0D0D;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.input {
    padding-left: 20px;
    height: 100%;
    font-size: 16px;
    background-color: #202020;
    ;
    color: #fff;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.40);
}

.header__search {
    width: 252px;
    border: 0px;
    outline: none;
}

.main__article {
    margin: 100px 0px 0px 50px;
    background: #202020;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.35);
}

.article__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

}

.link {
    text-decoration: none;
}

.link-grey {
    color: rgba(255, 255, 255, 0.8);
}

.article__link {
    display: flex;
    align-items: center;
    gap: 6px;
}

.article__title {
    font-size: 22px;
    color: #fff;
    margin-bottom: 5px;
}

.article-info__item {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;

}

.article-info__data {
    display: flex;
    gap: 20px;
}

.article__info {
    margin-bottom: 30px;
}

.article__paragraph {
    color: #fff;
    line-height: 22px;
    font-size: 16px;
}

.article__paragraph+.article__paragraph {
    margin-top: 10px;
}

.article__interesting {
    margin-top: 50px;
}

.interesting__title {
    color: #fff;
    margin-bottom: 18px;
}

.interesting-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.interesting-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
}

.interesting-item__link {
    color: #F3EBA2;
    text-decoration: none;
    margin-bottom: 5px;
}

.interesting-item__date {
    color: #828282;
    font-size: 12px;
}

.article__comments {
    margin-top: 50px;
}

.comments__title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 19px;
}

.comments-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.comments__input {
    width: 100%;
    background-color: transparent;
    border: 0px;
    outline: none;
    border-bottom: 1px solid #3F3F3F;
    font-size: 16px;

    color: #fff;
}

.comments__input::placeholder {
    color: #3F3F3F;
}

.comments__btn {
    border-radius: 5px;
    background: #3137C9;
    box-shadow: 0px 4px 15px -7px rgba(48, 55, 201, 0.30);
    color: #fff;
    border: 0px;
    outline: none;
    padding: 8px 15px;
    cursor: pointer;
}

.article__dialog{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
}

.article__dialog-question{
    font-weight: bold;
}

.article__photo{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.article__photo-text{
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #181818;
    width: 100%;
}

.article__photo-img + .article__photo-img{
    margin-top: 8px;
}

.burger{
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: none;
}

.burger-line{
    width: 100%;
    height: 2px;
    background-color: #fff;
}

@media (max-width: 1025px) {
    .main__article{
        margin: 50px 0px 0px;
    }

    .wrapper{
        gap: 10px;
    }
}

@media (max-width: 909px) {

    .sidebar{
        display: none;
    }

}

@media (max-width: 639px) {

    .header{
        position: relative;
        padding-left: 15px;
        height: 40px;
        align-items: center;
    }
    .burger{
        display: flex;
    }

    .header-menu{
        height: 100%;
    }
    .nav{
        position: absolute;
        /* display: none; */
        top: 0;
        background-color: #0D0D0D;
        padding: 10px;
        transform: translateX(-100%);
        transition: all 0.2s;
    }

    .nav--open{
        transform: translateX(0%);
    }

    .nav-list{
        flex-direction: column;
    }
}